<h1 id="tableLabel">Weather</h1>

<p>Current conditions in New York, retrieved from openweathermap.org free API.</p>

<p *ngIf="!forecast"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecast">
  <thead>
    <tr>
      <th>City</th>
      <th>Temp (C)</th>
      <th>Feeling (C)</th>
      <th>Pressure</th>
      <th>Humidity</th>
    </tr>
  </thead>
  <tbody>
      <td>{{ city }}</td>
      <td>{{ temp }}</td>
      <td>{{ feels_like }}</td>
      <td>{{ pressure }}</td>
      <td>{{ humidity }}</td>
    
  </tbody>
</table>
