<h1>Hello, jVisitor!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='http://openweathermap.org/'>OpenWeather API</a> for LIVE Weather Data</li>
  <li><a href='https://martinfowler.com/bliki/InMemoryTestDatabase.html'>In Memory Test DB</a> for immediate functionality without external DB dependencies</li>
  <li><a href='https://swagger.io/'>Swagger</a> can help you design and document your APIs at scale</li>
  <li><a href='https://github.com/jasontaylordev/CleanArchitecture/'>Clean Architecture Solution Template </a> clearly separates concerns amongst Domain, Application, Presentation and Infrastructure layers</li>
  
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application.</p>
<p>If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
